<div class="row">
  <div class="col-md-12">
    <div class="col-md-8 col-md-offset-2">      
      
      <div class="text-center">
        <h1>Discover Articles</h1>
        <% if user_signed_in? %>
          <%= link_to "New Article", new_article_path, class: "btn btn-success btn-lg", id: "new-article-btn" %>
        <% end %>
      </div>
      
      <% @articles.each do |article| %>
        <div class="well well-lg text-center">
          
          <!--Article Title-->
          <div class="article-title">
            <%= link_to article.title, article_path(article) %>
          </div>
          
          <!--Article Body-->
          <div class="article-body">
            <%= truncate(article.body, length: 200) %>
          </div>
          
          <!--Created by User-->
          <% if article.user %>
            <div class="author">
              <small>Created by <%= article.user.first_name %></small>
            </div>
          <% end %>
          
        </div>
      <% end %>
    </div>
  </div>
</div>