<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-8">      
      <h1>Create a new article</h1>
      
      <%= link_to "New Article", new_article_path %>
    </div>
  </div>
</div>