// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-body {
  color: #00D0FF !important;
}

#article-date {
  font-size: 2em;
}

.white-text {
  color: white;
}

.center {
  text-align: center !important;
}