.btn-primary {
  background-color: #2800a0 !important; //Color1
}

.btn-success {
  background-color: #00a028 !important; //Color2
}

@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  color: white;
  padding-bottom: 20px;
  font-size: 4em;
}

body {
  background-color: #1f4788;
  color: #999;
}

.article-title, .article-body {
  padding-left: 0.7em;
}

.article-title {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0.8em;
}

.article-body {
  font-size: 1.5em;
  color: black;
}

#new-article-btn {
  margin-bottom: 10px;
}

#article-date {
  margin-bottom: 40px;
}

.article-detail-title {
  font-size: 4em;
  margin-bottom: 40px;
}

.btn-space {
  margin-top: 20px;
}

.messages {
  padding-top: 20px;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: center;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
}

.author {
  font-style: italic;
  padding-top: 15px;
}
// Navbar
.navbar {
  border-bottom: 1px solid #999;
}
nav.navbar.navbar-default {
  margin-bottom: 0px;
}

// Logo
#logo {
  float: left;
  font-size: 1.7em;
  color: #2800a0; //Color1
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #7800a0;
  text-decoration: none;
}

#logo_intext {
  color: #2800a0; //Color1
  font-weight: bold;
}

.logout {
  background-color: #ff9999;
  border: 1px solid #ff6666;
  &:hover {
    background-color: #ff6666;
  }
}