<div class="messages row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= "#{name}" %>">
        <a class="close" title="close" aria-label="close" data-dismiss="alert" href="#">×</a>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      </div>
    <% end %>
  </div>
</div>